
<nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><i class="fa-brands fa-airbnb"></i></a>

    <!-- Hamburger Toggler Button -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Collapsible Navbar Content -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <!-- Left Side Links -->
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <li class="nav-item">
          <a class="nav-link" href="/listings">All Listings</a>
        </li>
        <hr>
        <li class="nav-item">
          <a class="nav-link" href="/listings/new">Create Listing</a>
        </li>
        <hr>
      </ul>

      <!-- Right Side Auth Links -->
      <ul class="navbar-nav ms-auto mb-2 mb-md-0">
  <% if (!userCurr) { %>
    <li class="nav-item">
      <a class="btn btn-outline-primary btn-sm ms-2 btn1" href="/signup">Sign Up</a>
    </li>
    <br>
    <li class="nav-item">
      <a class="btn btn-outline-success btn-sm ms-2 btn2" href="/login">Log In</a>
    </li>
  <% } else { %>
    <li class="nav-item">
      <a class="btn btn-outline-danger btn-sm ms-2 btn3" href="/logout">Log Out</a>
    </li>
  <% } %>
</ul>

    </div>
  </div>
</nav>
<style>
  .btn {
  border-radius: 20px;
  transition: 0.3s ease;
}

.btn:hover {
  transform: scale(1.05);
}
.btn{
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom:0.5rem ;
  padding-top: 0.5rem;
 
}
.btn1{
  background-color: #f8f9fa;
  color: black;
   
   border: black;
}
.btn1:hover{
 background-color: #3195FF;
   color:white; 
}
.btn2{
  background-color: white;
   color:black; 
   border: black;
}
.btn2:hover{ background-color: #198754;
  color: white;
   

}
.btn3{
  background-color: white;
  color: black;
  border: none;
}
.btn3:hover{
   background-color: #DC3545;
  color: white;
}
  @media (max-width: 767.98px) {
  .navbar-collapse {
    background-color: #f8f9fa !important; /* Light gray Bootstrap bg-light */
    padding: 1rem;
    border-radius: 0.5rem;
    
  }
  .btn{
  padding-left: 4rem;
  padding-right: 4rem;
  padding-bottom:0.5rem ;
  padding-top: 0.5rem;
 
}
}

</style>